extends layout

block content
  .header
  .jumbotron.header-bg
      .container.text-left
        a(href='http://www.nashville.gov/default.aspx')
          img(src='https://s3.amazonaws.com/nash-fitness-class/logo-home.png')
    .container-fluid.bg-3.text-center
      h2 Nashville Metro Fitness Schedule
      br
      .row
        +react('calendar', {events: events})
        .col-sm-12.sidenav
          h4 Quick Links
          .links
            p
              a(href='http://www.nashville.gov/Portals/0/SiteContent/Parks/docs/community/regional%20fee%20changes%202010.pdf') Pricing
            p
              a(href='http://www.nashville.gov/Parks-and-Recreation/Community-Centers-and-Recreation.aspx') Location list